<ul class="list-group mt-5">
  {{#each urls}}
  <li class="list-group-item">
    <div class="row">

      {{!-- 原始網址欄 --}}
      <div class="col-5">
        <h4>
          <a href="{{ this.original_url }}" target="_blank">{{ this.original_url }}</a>
        </h4>
      </div>

      {{!-- 短網址欄 --}}
      <div class="col-2">
        <h4>
          {{ this.shorted_url }}
        </h4>
      </div>

      <!-- 刪除按鈕 -->
      <div class="col-1">
        <form action="/urls/{{ this._id }}?_method=DELETE" method="POST" style="display: inline;">
          <button class="btn btn-danger" type="submit">delete</button>
        </form>
      </div>

    </div>
  </li>
  {{/each}}
</ul>